<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroceBook</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Welcome, GroceBook</h1>
        <h2>Members: </h2>
        <h5>Muhammad Aqib (SP19-BCS-149)</h5>
        <h5>Tariq Javed (SP19-BCS-031)</h5>
    </div>
</body>
</html>