.signuplogo {
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}